spring:
    application:
        name: config-server
    cloud:
        config:
            server:
                git:
                    uri: https://github.com/manishbhatt94/microservices-config-source-shristi 

server:
    port: 8888
